.modal-callback
  .modal-callback__wrp
    .modal-callback__title
      h2 Оставьте заявку, <br> мы вам перезвоним и <br> ответим на все вопросы 
    .modal-callback__form
      form(action='#' method='POST')
        .form
          .form__item: .form__subitem: input(type="text" placeholder="Имя") 
          .form__item: .form__subitem: input(type="tel" placeholder="+7___ ___ __ __") 
          .form__item: .form__subitem: button.btn.btn-full Отправить
          .form__item: .form-text Укажите свои контакты и менеджер свяжится с вами 