extends layouts/index
include ../blocks/components/video/video

block variables



block header
  .header 
    .header-top
      .header-top__menu
        .hamburger
          i 
          i 
          i
        span Меню
      .header-top__logo
        a(href='#'): img(src="/img/svg/logo.svg")
      .header-top__phone
        .header-top-phone
          .header-top-phone__title Группа продаж
          .header-top-phone__online Сейчас работаем
      .header-top__msgr
        ul
          li: a(href='#'): +icons('#ic_call')
          li: a(href='#'): +icons('#ic_wa')
          li: a(href='#'): +icons('#ic_tg')
      .header-top__callback
        button.btn.btn-line Заказать звонок
block content
  section header-section
    .container
      .header-content
        .header-content__title 
          h1 Ренессанс Парк
          p Коттеджный поселок
        .header-content__info
          .content-info
            .content-info__list
              .content-info__item
                .content-info__digit <span>310</span>
                .content-info__desc Количество домов в поселке 
              .content-info__item
                .content-info__digit  От <span>21</span> млн. ₽
                .content-info__desc минимальная цена дома
              .content-info__item
                .content-info__digit   От <span>350</span> до <span>800</span> м² 
                .content-info__desc минимальная площадь участков
              .content-info__item
                .content-info__digit <span>130 Га</span>
                .content-info__desc минимальная площадь участков
        .header-content__form 
          .header-form
            .header-form__image
              +bgimage('/img/')
            .header-form__form
              form
                .form
                  .form__item
                    .form__subitem: input(type="text" placeholder="Имя")
                    .form__subitem: input(type="tel" placeholder="+7___-___-__-__")
                    .form__subitem
                      button.btn.btn-blue
    section about
block footer
  div.footer footer

block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
