extends layouts/index
include ../blocks/components/video/video
include ../blocks/modules/minicard/minicard
block variables



block header
  .header 
    .header-top
      .container
        .header-top__menu
          .hamburger
            i 
            i 
            i
          span Меню
        .header-top__logo
          a(href='#'): img(src="/img/common/logo.png")
        .header-top__phone
          .header-top-phone
            .header-top-phone__title Группа продаж
            .header-top-phone__online Сейчас работаем
        .header-top__msgr
          ul
            li: a(href='#'): +icons('#ic_call')
            li: a(href='#'): +icons('#ic_wa')
            li: a(href='#'): +icons('#ic_tg')
        .header-top__callback
          button.btn.btn-line.btn-small Заказать звонок
block content
  section.header-section(style="background-image: url(../img/common/header-bg.jpg)")
    .container
      .header-content
        .header-content__title 
          h1 Ренессанс Парк
          p Коттеджный поселок
        .header-content__info
          .content-info
            .content-info__list
              .content-info__item
                .content-info__digit <span>310</span>
                .content-info__desc Количество домов в поселке 
              .content-info__item
                .content-info__digit  От <span>21</span> млн. ₽
                .content-info__desc минимальная цена дома
              .content-info__item
                .content-info__digit   От <span>350</span> до <br> <span>800</span> м² 
                .content-info__desc минимальная площадь участков
              .content-info__item
                .content-info__digit <span>130 Га</span>
                .content-info__desc минимальная площадь участков
        .header-content__form 
          .header-form
            .header-form__image
              +bgimage('../img/common/laptop.png')
            .header-form__form
              form
                .form
                  .form__item
                    .form__subitem: input(type="text" placeholder="Имя")
                    .form__subitem: input(type="tel" placeholder="+7___-___-__-__")
                    .form__subitem
                      button.btn.btn-blue Получить презентацию
                  .form__item: .form-text Получите презентацию участков от наших экспертов
  section.section-about-park
    .container
      .section-title 
        h2 О поселке “Ренессанс Парк”
        span о поселке
      .about-park
        .about-park__image: img(src="/img/common/about.png")
        .about-park__desc
          p «Ренессанс Парк» – это филигранно ограненная красота природы и возможность вести активный образ жизни, не замыкаясь в уединении. Дома в стиле европейских аристократических резиденций, собственный пляж с белым кварцевым песком, премиальная инфраструктура других посёлков Villagio Estate – повседневность для жителей «Ренессанс Парк». Жить здесь, значит, окружить себя аурой красоты и здоровья, созданной самой природой. Посёлок вытянут вдоль векового соснового леса, который наполняет окружающее пространство фитонцидами – мощнейшим природным антисептиком, уничтожающим патогенные микроорганизмы. Жители «Ренессанс Парка» ежедневно укрепляют свой иммунитет, просто вдыхая целебный воздух хвойного леса. 
  section.section-catalog-park
    .container
      .section-title
        h2  Дома в поселке “Ренессанс Парк”
        span Дома в поселке “Ренессанс Парк”
      .catalog-park
        .catalog-park__wrp
          .catalog-park__tabs
            ul
              li.active
                +icons('#ic_house')
                | дома
              li
                +icons('#ic_area')
                | участки
          .catalog-park__content
            .catalog-park__item-tab
              .catalog-park__list
                each item in [1,2,3,4,3,1]
                  .catalog-park__item: +minicard(item)
            .catalog-park__item-tab
  section.section-general-plan
    .container
      .section-title
        h2  Генплан поселка
        span Генплан поселка
    .general-plan
      .general-plan__image
        +bgimage('/img/common/general-plan.jpg')
      .general-plan__action
        .general-plan__find: +icons('#ic_loupe')
        .general-plan__zoom-inc: +icons('#ic_plus')
        .general-plan__zoom-dec: +icons('#ic_minus')
  section.section-sales-team
    .container
      .section-title
        h2  Команда отдела продаж
        span Команда отдела продаж
      .sales-team
        .sales-team__image: +bgimage('/img/common/manager.png')
        .sales-team__slider
          .team-slider
            .team-slider-prev
              .arrow-white: +icons('#ic_prev-swiper')
              .brackets-left
            .team-slider-main
              .swiper-container
                .swiper-wrapper
                  .swiper-slide
                    .sales-team-slide
                      .sales-team-slide__desc Застройщик проекта Villagio Estate позаботился о высоком качестве домов и окружающих их объектов инфраструктуры. Благодаря клубной системе, владельцам недвижимости в «Ренессанс парке» будет доступно все инфраструктурное наполнение других коттеджных поселков от застройщика: парки, детские сады, английская школа, мед.центр и многое другое. Все объекты клубной системы находятся не дальше, чем в 15 минутах на авто.                  
                      .sales-team-slide__name Александра
                      .sales-team-slide__spec Менеджер по продажам
            .team-slider-next
              .brackets-right
              .arrow-white: +icons('#ic_next-swiper')
          .team-callback
            button.btn.btn-line вопрос брокеру/эксперту 
  section.section-signup(style="background-image: url('../img/common/signup.jpg')")
    .container
      .signup__title Запишитесь на экскурсию
      .signup__subtitle Укажите свои контакты и менеджер свяжится с вами для уточнения удобного времени экскурсии.
      .signup__form
        form(action='#' method='POST')
          .form
            .form__item
              .form__subitem: input(type="name" placeholder="Имя")
              .form__subitem: input(type="tel" placeholder="+7___-___-__-__")
              .form__subitem: button.btn.btn-blue Отправить
  section.section-gallery
    .container-full
      .section-title
        h2  Галерея
        span Галерея
      .section-gallery__swiper
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .gallery-slide
                .gallery-slide__image: +bgimage('/img/gallery/g1.jpg')
                .gallery-slide__caption Парк
            .swiper-slide
              .gallery-slide
                .gallery-slide__image: +bgimage('/img/gallery/g2.jpg')
                .gallery-slide__caption Входная группа
            .swiper-slide
              .gallery-slide
                .gallery-slide__image: +bgimage('/img/gallery/g1.jpg')
                .gallery-slide__caption Парк
            .swiper-slide
              .gallery-slide
                .gallery-slide__image: +bgimage('/img/gallery/g2.jpg')
                .gallery-slide__caption Входная группа
      .container
        .section-gallery__nav
          .gallery-nav__counter 1 из 17
          .gallery-nav__prev: +icons('#ic_prev-swiper')
          .gallery-nav__next: +icons('#ic_next-swiper')
  section.section-video
    .container
      .section-title 
        h2 Видео обзор поселка "Ренессанс Парк”
        span Видео обзор поселка
      +video('#idyoutube')

  section.section-infrastructure
    .container
      .section-title 
        h2 Инфраструктура
        span Инфраструктура
      .infrastructure
        .infrastructure__swiper
          .infr-slider
            .infr-slider-prev
              .arrow-white: +icons('#ic_prev-swiper-blue')
              .brackets-left
            .infr-slider-main
              .swiper-container
                .swiper-wrapper
                  .swiper-slide
                    .infrast-item
                      .infrast-item__desc
                        .infrast-item__title Природа
                        .infrast-item__text В поселке предусмотрена озелененная прогулочная зона с утонченными скульптурами, аллеями и цветниками.              
                      .infrast-item__image
                        .circle-image
                          .circle-image__big: +bgimage('/img/common/inf.jpg')
                          .circle-image__min: +bgimage('/img/common/inf.jpg')
                  .swiper-slide
                    .infrast-item
                      .infrast-item__desc
                        .infrast-item__title Природа
                        .infrast-item__text В поселке предусмотрена озелененная прогулочная зона с утонченными скульптурами, аллеями и цветниками.              
                      .infrast-item__image
                        .circle-image
                          .circle-image__big: +bgimage('../img/gallery/g1.jpg')
                          .circle-image__min: +bgimage('../img/gallery/g1.jpg')
            .infr-slider-next
              .brackets-right
              .arrow-white: +icons('#ic_next-swiper-blue')


  section.section-download(style="background-image: url('../img/common/download-bg.jpg')")
    .container
      .download__main
        .download__image: +bgimage('../img/common/laptop.png')
        .download__text
          .download__title Скачайте презентацию коттеджного посёлка «Ренессанс парк»
          .download__subtitle Обновлен: 11 Февраля 2021 
      .download__form
        form(action='#' method='POST')
          .form
            .form__item
              .form__subitem: input(type="name" placeholder="Имя")
              .form__subitem: input(type="tel" placeholder="+7___-___-__-__")
              .form__subitem: button.btn.btn-blue Получить презентацию
            .form__item: .form-text Получите презентацию участков от наших экспертов

  section.section-contacts
    .container
      .section-title 
        h2 Расположение поселка
        span Расположение поселка
      .section-contacts__info
        .section-contacts__text
          .section-contacts__address Поселок «Ренессанс Парк» расположен в 19 км от МКАД по Новорижскому шоссе 
          .section-contacts__sep
          .section-contacts__phone
            p Круглосуточная горячая линия: 
            a(href='tel:+74950851664') +7 (495) 085-16-64
          .section-contacts__callback
            .section-contacts__btn
              button.btn.btn-line Заказать звонок
            .section-contacts__msgr
              a(href='#'): +icons('#ic_wa', 14)
              a(href='#'): +icons('#ic_tg', 14)
        .section-contacts__image
          .circle-image
            .circle-image__big: +bgimage('/img/common/cr2.jpg')
            .circle-image__min: +bgimage('/img/common/cr2.jpg')
      .section-contacts__map
        span(style="padding-top: 300px; background-color: #eee;")

block footer
  div.footer
    .container
      .footer__catig
        ul
          li: a(href='#') О поселке
          li: a(href='#') Дома/участки в поселке
          li: a(href='#') Генплан поселка
          li: a(href='#') Команда отдела продаж
      .footer__list
        ul
          li: a(href='#') Галерея
          li: a(href='#') Презентация
          li: a(href='#') Инфраструктура
          li: a(href='#') Расположение поселка
      .footer__info
        .footer__info-text Нужна помощь? Позвоните или напишите в чат эксперту проекта
        .footer__callback
          .footer__phone: a(href='tel:+74950851664') +7 (495) 085-16-64
          .footer__msgr
            a(href='#'): +icons('#ic_wa')
            a(href='#'): +icons('#ic_tg')
          .footer__btn
            button.btn.btn-line.btn-white Заказать звонок

block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
