.mobile-menu {

    @media screen and (min-width: $w940) {
        display: none;
    }

    background: #242424;
    position: fixed;
    left: 0;
    right: 0;
    top: 0 !important;
    bottom: 0;
    top: 66px;
    max-width: 720px;
    flex-direction: column;
    overflow-x: auto;
    transform: translateX(-100%);
    transition: 0.3s ease;
    z-index: 10;
    padding: 60px;

    &.open {
        display: flex;
        transform: translateX(0);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.541);
    }

    &__close {
        display: flex;
        justify-content: flex-end;
    }



}

.header-opacity.open .container {
    background: #fff;
    position: relative;
    z-index: 10;
}