-
  const brand =[
    {
    'icon':'/img/autoBrand/mini-cooper.png',
    'name':'Mini Cooper',
    },{
    'icon':'/img/autoBrand/porsche.png',
    'name':'Porshe'
    },{
    'icon':'/img/autoBrand/opel.png',
    'name':'Opel'
    },{
    'icon':'/img/autoBrand/buick.png',
    'name':'Buick'
    },{
    'icon':'/img/autoBrand/mazda.png',
    'name':'Mazda'
    },{
    'icon':'/img/autoBrand/mercedes_benz.png',
    'name':'Mercedes'
    },{
    'icon':'/img/autoBrand/Mitsubishi.png',
    'name':'Mitsubishi'
    },{
    'icon':'/img/autoBrand/Nissan.png',
    'name':'Nissan'
    },{
    'icon':'/img/autoBrand/mini-cooper.png',
    'name':'Mini Cooper'
    },{
    'icon':'/img/autoBrand/porsche.png',
    'name':'Porshe'
    },{
    'icon':'/img/autoBrand/opel.png',
    'name':'Opel'
    },{
    'icon':'/img/autoBrand/buick.png',
    'name':'Buick'
    },{
    'icon':'/img/autoBrand/mazda.png',
    'name':'Mazda'
    },{
    'icon':'/img/autoBrand/mercedes_benz.png',
    'name':'Mercedes'
    },{
    'icon':'/img/autoBrand/Mitsubishi.png',
    'name':'Mitsubishi'
    },{
    'icon':'/img/autoBrand/Nissan.png',
    'name':'Nissan'
    },{
    'icon':'/img/autoBrand/mini-cooper.png',
    'name':'Mini Cooper'
    },{
    'icon':'/img/autoBrand/porsche.png',
    'name':'Porshe'
    },{
    'icon':'/img/autoBrand/opel.png',
    'name':'Opel'
    },{
    'icon':'/img/autoBrand/buick.png',
    'name':'Buick'
    },{
    'icon':'/img/autoBrand/mazda.png',
    'name':'Mazda'
    },{
    'icon':'/img/autoBrand/mercedes_benz.png',
    'name':'Mercedes'
    },{
    'icon':'/img/autoBrand/Mitsubishi.png',
    'name':'Mitsubishi'
    },{
    'icon':'/img/autoBrand/Nissan.png',
    'name':'Nissan'},
    {
    'icon':'/img/autoBrand/buick.png',
    'name':'Buick'
    },{
    'icon':'/img/autoBrand/mazda.png',
    'name':'Mazda'
    },{
    'icon':'/img/autoBrand/mercedes_benz.png',
    'name':'Mercedes'
    },{
    'icon':'/img/autoBrand/Mitsubishi.png',
    'name':'Mitsubishi'
    },{
    'icon':'/img/autoBrand/Nissan.png',
    'name':'Nissan'
    },{
    'icon':'/img/autoBrand/mini-cooper.png',
    'name':'Mini Cooper'
    },{
    'icon':'/img/autoBrand/porsche.png',
    'name':'Porshe'
    },{
    'icon':'/img/autoBrand/opel.png',
    'name':'Opel'
    },
    ]

    const model = [
      {name: '100'},
      {name: 'A4'},
      {name: '200'},
      {name: 'A5'},
      {name: 'A1'},
      {name: 'A6'},
      {name: 'A2'},
      {name: 'F6'},
      {name: 'A4'},
      {name: 'F7'},
      {name: '100'},
      {name: 'A4'},
      {name: '200'},
      {name: 'A5'},
      {name: 'A1'},
      {name: 'A6'},
      {name: 'A2'},
      {name: 'F6'},
      {name: 'A4'},
      {name: 'F7'},
    ]