-
  const carFooter = [
    {
      brand : 'audi',
      model : [
        '80',
        '100',
        'A4',
        'F6',
      ]
    },
    {
      brand : 'ВАЗ',
      model : [
        '2106',
        '2107',
        '2109',
        '2110',
        '2114',
      ]
    },
    {
      brand : 'KIA',
      model : [
        'Rio',
        'Sportedge',
        'Sorento',
        'Sid',
      ]
    },
    {
      brand : 'Volkswagen',
      model : [
        'Passat',
        'Polo',
        'Golf',
      ]
    },
    {
      brand : 'audi',
      model : [
        '80',
        '100',
        'A4',
        'F6',
      ]
    },
    {
      brand : 'ВАЗ',
      model : [
        '2106',
        '2107',
        '2109',
        '2110',
        '2114',
      ]
    },
    {
      brand : 'KIA',
      model : [
        'Rio',
        'Sportedge',
        'Sorento',
        'Sid',
      ]
    },

    {
      brand : 'audi',
      model : [
        '80',
        '100',
        'A4',
        'F6',
      ]
    },
    {
      brand : 'ВАЗ',
      model : [
        '2106',
        '2107',
        '2109',
        '2110',
        '2114',
      ]
    },

  ];
