-
  const repair = [
    {
      img: false,
      type: 'qna',
      title: 'Какое масло выбрать для Audi A4 II?',
      video: false,
      autor: 'Сергей Н.',
      date: '5 часов назад',
      auto: {
        logo: '/img/autoBrand/audi.png', brand: 'Audi A4 II (B6)'
      },
      count: {
        answer: 3, views: '2k',
      }
    },

    {
      img: '/img/repair/r1.jpg',
      type: 'Статья',
      title: 'Замена передней гидроопоры двигателя Audi A4 2,0TDI (B7)',
      video: false,
      autor: false,
      date: false,
      auto: {
        logo: false, brand: false
      },
      count: {
        answer: 3, views: '10k',
      }
    },

    {
      img: '/img/repair/r2.jpg',
      type: 'Видео',
      title: 'Гул в двигателе, шум, стуки, вибрация',
      video: 'https://www.youtube.com/watch?v=7LJIcrJKDI0',
      autor: false,
      date: false,
      auto: {
        logo: false, brand: false
      },
      count: {
        answer: 0, views: '1200',
      }
    },

    {
      img: '/img/repair/r3.jpg',
      type: 'Статья',
      title: 'Toyota Camry 2.5 XV70 — достоинства и недостатки',
      video: false,
      autor: false,
      date: false,
      auto: {
        logo: false, brand: false
      },
      count: {
        answer: 3, views: '8k',
      }
    },

    {
      img: '/img/repair/r4.jpg',
      type: 'Видео',
      title: 'Как из обычной Skoda Octavia A7 сделать заряженную RS-версию',
      video: 'https://www.youtube.com/watch?v=7LJIcrJKDI0',
      autor: false,
      date: false,
      auto: {
        logo: false, brand: false
      },
      count: {
        answer: 0, views: '1200',
      }
    },

    {
      img: false,
      type: 'qna',
      title: 'При трогании с места появился стук в нижней части машины ',
      video: false,
      autor: 'Сергей Н.',
      date: '5 часов назад',
      auto: {
        logo: '/img/autoBrand/audi.png', brand: 'Audi A4 II (B6)'
      },
      count: {
        answer: 3, views: '2k',
      }
    },

    {
      img: false,
      type: 'qna',
      title: 'Какое масло выбрать для Audi A4 II?',
      video: false,
      autor: 'Сергей Н.',
      date: '5 часов назад',
      auto: {
        logo: '/img/autoBrand/audi.png', brand: 'Audi A4 II (B6)'
      },
      count: {
        answer: 3, views: '2k',
      }
    },

    {
      img: '/img/repair/r1.jpg',
      type: 'Статья',
      title: 'Замена передней гидроопоры двигателя Audi A4 2,0TDI (B7) Какое масло выбрать для Audi A4 II?', 
      video: false,
      autor: false,
      date: false,
      auto: {
        logo: false, brand: false
      },
      count: {
        answer: 3, views: '10k',
      }
    },

    {
      img: '/img/repair/r2.jpg',
      type: 'Видео',
      title: 'Гул в двигателе, шум, стуки, вибрация',
      video: 'https://www.youtube.com/watch?v=7LJIcrJKDI0',
      autor: false,
      date: false,
      auto: {
        logo: false, brand: false
      },
      count: {
        answer: 0, views: '1200',
      }
    },

    {
      img: '/img/repair/r3.jpg',
      type: 'Статья',
      title: 'Toyota Camry 2.5 XV70 — достоинства и недостатки',
      video: false,
      autor: false,
      date: false,
      auto: {
        logo: false, brand: false
      },
      count: {
        answer: 3, views: '8k',
      }
    },

    {
      img: '/img/repair/r4.jpg',
      type: 'Видео',
      title: 'Как из обычной Skoda Octavia A7 сделать заряженную RS-версию',
      video: 'https://www.youtube.com/watch?v=7LJIcrJKDI0',
      autor: false,
      date: false,
      auto: {
        logo: false, brand: false
      },
      count: {
        answer: 0, views: '1200',
      }
    },

    {
      img: false,
      type: 'qna',
      title: 'При трогании с места появился стук в нижней части машины',
      video: false,
      autor: 'Сергей Н.',
      date: '5 часов назад',
      auto: {
        logo: '/img/autoBrand/audi.png', brand: 'Audi A4 II (B6)'
      },
      count: {
        answer: 3, views: '2k',
      }
    },


  ];