-
  const topQuest = [
    {
      'img':'/img/home/top1.jpg',
      'title':'Что такое вязкость масла?',
      'tag': [
        'Двигатель ',
        'масло',
      ]
    },
    {
      'img':'/img/home/top3.jpg',
      'title':'Как выбрать моторное масло? Ликбез для начинающих',
      'tag': [
        'Двигатель ',
        'масло',
      ]
    },
    {
      'img':'/img/home/top4.jpg',
      'title':'Какое масло выбрать для Renault Logan?',
      'tag': [
        'Двигатель ',
        'масло',
        'Renault',
        'logan',
      ]
    },
    {
      'img':'/img/home/top5.jpg',
      'title':'Что такое вязкость масла?',
      'tag': [
        'Двигатель ',
        'масло',
      ]
    },
    {
      'img':'/img/home/top3.jpg',
      'title':'Как выбрать моторное масло? Ликбез для начинающих',
      'tag': [
        'Двигатель ',
        'масло',
      ]
    },

  ];

  const typeQuest = [

    {
      'icon':'/img/svg/ic_ras.svg',
      'title':'Расходники ТО',
      'prop':[
        'Техническое обслуживание',
        'Моторное масло',
        'Воздушный фильтр',
      ],
    },
    {
      'icon':'/img/svg/ic_engin.svg',
      'title':'Двигатель',
      'prop':[
        'ГБЦ',
        'Система впуска / выпуска',
        'Прокладки двигателей',
      ],
    },
    {
      'icon':'/img/svg/ic_transm.svg',
      'title':'Коробка передач',
      'prop':[
        'МКПП',
        'AКПП',
        'Сцепление',
      ],
    },

    {
      'icon':'/img/svg/ic_body.svg',
      'title':'Кузов',
      'prop':[
        'Стекла',
        'Бампера',
        'Кузовные работы',
      ],
    },
    {
      'icon':'/img/svg/ic_chass.svg',
      'title':'Ходовая',
      'prop':[
        'Подвеска',
        'Сайлентблок',
        'Рулевое',
      ],
    },
    {
      'icon':'/img/svg/ic_electric.svg',
      'title':'Электрика',
      'prop':[
        'Генератор',
        'Освещение',
        'Блок предохранителей и реле',
      ],
    },


  ]

