-
  const video = [
    {
      'img': '/img/video/v1.png',
      'title': 'Какое масло выбрать для enault Logan?', 
      'tag': [
        'Двигатель',
        'Двигатель',
        'масло',
        'Renault',
        'logan',
      ]
    },
    {
      'img': '/img/video/v2.png',
      'title': 'Что такое вязкость масла?', 
      'tag': [
        'Двигатель ',
        'масло',
      ]
    },
    {
      'img': '/img/video/v3.png',
      'title': 'Как выбрать моторное масло? Ликбез для начинающих', 
      'tag': [
        'Renault',
        'logan',
      ]
    },
  ]